.playing {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  box-sizing: border-box;
  gap: 1px;
}

.playing__bar {
  display: inline-block;
  background: white;
  width: 10%;
  height: 100%;
  border-radius: 5px;
  animation: up-and-down 1.3s ease infinite alternate;
}

.playing__bar.sm {
  width: 20%;
}

.playing__bar1 {
  height: 60%;
}

.playing__bar2 {
  height: 30%;
  animation-delay: -2.2s;
}

.playing__bar3 {
  height: 75%;
  animation-delay: -3.7s;
}

.playing__bar4 {
  height: 75%;
  animation-delay: -2s;
}

.playing__bar5 {
  height: 75%;
  animation-delay: -1s;
}

.playing__bar10 {
  height: 60%;
}

.playing__bar9 {
  height: 30%;
  animation-delay: -2.2s;
}

.playing__bar6 {
  height: 75%;
  animation-delay: -3.7s;
}

.playing__bar7 {
  height: 75%;
  animation-delay: -2s;
}

.playing__bar8 {
  height: 35%;
  animation-delay: -1s;
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 50%;
  }

  80% {
    height: 75%;
  }

  100% {
    height: 60%;
  }
}
