@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: yellowscale;

  --color-black: #000;
  --color-white: #fff;

  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-200: #ddd6fe;
  --color-violet-300: #c4b5fd;
  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
  --color-violet-700: #6d28d9;
  --color-violet-800: #5b21b6;
  --color-violet-900: #4c1d95;

  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #a5b4fc;
  --color-indigo-500: #5956e9;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;

  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fbcfe8;
  --color-pink-300: #fab8c4;
  --color-pink-400: #f472b6;
  --color-pink-500: #ec4899;
  --color-pink-600: #db2777;
  --color-pink-700: #be185d;
  --color-pink-800: #9d174d;
  --color-pink-900: #831843;
  --color-pink-950: #500724;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;

  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #999fae;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #27272a;
  --color-gray-900: #18181b;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef08a;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #422006;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;

  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;
  --color-purple-950: #3b0764;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;

  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
span {
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hide the vertical scrollbar */
.slim-scrollbar::-webkit-scrollbar {
  height: 0.5rem;
}

/* Hide the horizontal scrollbar */
.slim-scrollbar::-webkit-scrollbar-horizontal {
  height: 5px;
}

/* Hide the vertical scrollbar thumb */
.slim-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 2px;
}

.chat-container {
  overflow-y: scroll !important;
}

.rc-tooltip {
  opacity: 1 !important;
}

div:has(> .circular-content) {
  margin-top: auto !important;
  top: 0 !important;
}

.CircularProgressbar + div {
  margin-top: auto !important;
  top: 0 !important;
}

.wave-loader-element {
  width: 6px;
  height: 0px;
  @apply bg-slate-300;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 1s infinite;
}

.wave-loader-element:nth-child(2) {
  animation-delay: 0.15s;
}
.wave-loader-element:nth-child(3) {
  animation-delay: 0.3s;
}
.wave-loader-element:nth-child(4) {
  animation-delay: 0.45s;
}
.wave-loader-element:nth-child(5) {
  animation-delay: 0.6s;
}
.wave-loader-element:nth-child(6) {
  animation-delay: 0.75s;
}
.wave-loader-element:nth-child(7) {
  animation-delay: 0.8s;
}
.wave-loader-element:nth-child(8) {
  animation-delay: 0.9s;
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 0;
  }
}

.practice-loader {
  border: 24px solid;
  border-color: rgba(100, 100, 100, 0.15) rgba(100, 100, 100, 0.25) rgba(100, 100, 100, 0.35)
    rgba(100, 100, 100, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: practiceloader 1s linear infinite;
}

@keyframes practiceloader {
  0% {
    border-color: rgba(100, 100, 100, 0.15) rgba(100, 100, 100, 0.25) rgba(100, 100, 100, 0.35)
      rgba(100, 100, 100, 0.75);
  }
  33% {
    border-color: rgba(100, 100, 100, 0.75) rgba(100, 100, 100, 0.15) rgba(100, 100, 100, 0.25)
      rgba(100, 100, 100, 0.35);
  }
  66% {
    border-color: rgba(100, 100, 100, 0.35) rgba(100, 100, 100, 0.75) rgba(100, 100, 100, 0.15)
      rgba(100, 100, 100, 0.25);
  }
  100% {
    border-color: rgba(100, 100, 100, 0.25) rgba(100, 100, 100, 0.35) rgba(100, 100, 100, 0.75)
      rgba(100, 100, 100, 0.15);
  }
}
